/* You can add global styles to this file, and also import other style files */
@import "./theme/themes.scss";
@import "~@angular/material/theming";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: gray;}

.padding {
    padding: 16px;
}

.padding-top {
    padding-top: 16px;
}

.padding-bottom {
    padding-bottom: 16px;
}

.padding-left {
    padding-left: 16px;
}

.padding-right {
    padding-right: 16px;
}

.padding-hr {
    @extend .padding-left;
    @extend .padding-right;
}

.padding-vr {
    @extend .padding-top;
    @extend .padding-bottom;
}

.display-flex {
    display: flex;
}

.display-flex-column {
    @extend .display-flex;
    flex-direction: column;
}

.centered-flex {
    @extend .display-flex;
    align-items: center;
    justify-content: center;
}


.centered-flex-column {
    @extend .display-flex-column;
    align-items: center;
    justify-content: center;
}


.full-width {
    width: 100%;
}

.fg-primary {
    color: mat-color($app-primary);
}

.fg-accent {
    color: mat-color($app-accent);
}

.bg-primary {
    background-color: mat-color($app-primary);
}

.bg-accent {
    background-color: mat-color($app-accent);
}

